@import "../variables";

.tool-bar-wrapper {
  display: flex;
  flex-direction: column;
  border-top: solid 1px $mid-white;
  border-right: solid 1px $mid-white;
  padding: 4px;
  height:100%;

  .icon-prefix {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: rgba($white, 0.6);
    font-size: 1rem;

    &:hover {
      border-radius: 2px;
      background-color: rgba($white, 0.2);
    }
  }
}

.fa-line {
  width: 2px;
  height: 50%;
  background-color: rgba($white, 0.6);
  transform: rotate(45deg);
}

