<div class="tool-bar-wrapper">
	<div #select (click)="execFunc('select')" class="not-implemented-yet icon-prefix name-info-wrapper">
		<fa-icon [icon]="faMousePointer" [fixedWidth]="true" size="sm"></fa-icon>
		<div class="name-info-column">選択</div>
	</div>
	<div #hand (click)="execFunc('hand')" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faHandPaper" [fixedWidth]="true" size="sm"></fa-icon>
		<div class="name-info-column">手のひら</div>
	</div>
	<div #pen (click)="execFunc('pen')" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faPenNib" [fixedWidth]="true" size="sm"></fa-icon>
		<div class="name-info-column">ペン</div>
	</div>
	<div #eraser (click)="execFunc('eraser')" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faEraser" [fixedWidth]="true" size="sm"></fa-icon>
		<div class="name-info-column">消しゴム</div>
	</div>
	<div #createSquare (click)="execFunc('square')" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faSquare" [fixedWidth]="true" size="sm"></fa-icon>
		<div class="name-info-column">図形の作成：四角形</div>
	</div>
	<div #createLine (click)="execFunc('line')" class="icon-prefix name-info-wrapper">
		<div class="fa-line"></div>
		<div class="name-info-column">図形の作成：直線</div>
	</div>
	<div #zoom (click)="execFunc('zoom')" class="icon-prefix name-info-wrapper">
		<fa-icon [icon]="faZoom" [fixedWidth]="true" size="sm" class="invert-icon"></fa-icon>
		<div class="name-info-column">拡大・縮小</div>
	</div>
</div>
