@import "../variables";

.tool-bar-wrapper {
  display: flex;
  flex-direction: column;
  border-top: solid 1px $mid-white;
  border-right: solid 1px $mid-white;
  padding: 4px;
  height:100%;

  .icon-prefix {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: rgba($white, 0.6);
    font-size: 1rem;
    margin: 1px 0;

    &:hover, &.active {
      border-radius: 2px;
      background-color: rgba($white, 0.2);
    }
  }
}

.fa-line {
  width: 2px;
  height: 50%;
  background-color: rgba($white, 0.6);
  transform: rotate(45deg);
}

.name-info-wrapper {
  position: relative;

  &:hover {
    .name-info-column {
      transition-delay: 500ms;
      opacity: 1;
    }
  }

  .name-info-column {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;

    color: white;
    background-color: black;
    border: none;

    user-select: none;
    pointer-events: none;
    transition: opacity $transition;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      border: 6px solid transparent;
      border-right: 6px solid black;
    }
  }
}

