<div class="tool-bar-wrapper">
  <div class="icon-prefix">
    <fa-icon [icon]="faHandPaper" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faPenNib" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faEraser" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faSquare" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faCircle" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <div class="fa-line"></div>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faFont" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
</div>
