<div class="flex-space-between">
	<div class="menu-wrapper">
		<div class="menu">
			<ng-template ngFor let-menu="$implicit" [ngForOf]="menus" let-i="index">
				<span #elReference class="menu-title active">{{ menu }}</span>
				<div class="menu-list main-menu-list active">
					<ul>
						<ng-template ngFor let-menuList="$implicit" [ngForOf]="menuLists[i]" let-i="index">
							<div *ngIf="menuList.type === 2; then thenBlock; else elseBlock"></div>
							<ng-template #thenBlock>
								<li class="separator-wrapper"><div class="separator"></div></li>
							</ng-template>
							<ng-template #elseBlock>
								<li [ngClass]="{ 'sub-menu-list-wrapper': menuList.type === 1 }">
									<div #elReference (click)="menuList.exec()" class="sub-menu-title">
										<span>{{ menuList.title }}</span>
										<span *ngIf="menuList.type !== 1">{{ menuList.key }}</span>
										<span *ngIf="menuList.type === 1"
											><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon
										></span>
									</div>

									<div #elReference class="menu-list sub-menu-list" *ngIf="menuList.type === 1">
										<ul>
											<ng-template ngFor let-subMenuList="$implicit" [ngForOf]="menuList.subMenuList" let-i="index">
												<div *ngIf="subMenuList.type === 2; then thenBlock; else elseBlock"></div>
												<ng-template #thenBlock>
													<li class="separator-wrapper"><div class="separator"></div></li>
												</ng-template>
												<ng-template #elseBlock>
													<li [ngClass]="{ 'sub-menu-list-wrapper': subMenuList.type === 1 }">
														<div #elReference (click)="subMenuList.exec()" class="sub-menu-title">
															<span>{{ subMenuList.title }}</span>
															<span *ngIf="subMenuList.type !== 1">{{ subMenuList.key }}</span>
															<span *ngIf="subMenuList.type === 1"
																><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon
															></span>
														</div>

														<div #elReference class="menu-list sub-menu-list" *ngIf="subMenuList.type === 1">
															<ul>
																<ng-template
																	ngFor
																	let-subMenuList="$implicit"
																	[ngForOf]="subMenuList.subMenuList"
																	let-i="index"
																>
																	<div *ngIf="subMenuList.type === 2; then thenBlock; else elseBlock"></div>
																	<ng-template #thenBlock>
																		<li class="separator-wrapper"><div class="separator"></div></li>
																	</ng-template>
																	<ng-template #elseBlock>
																		<li>
																			<div (click)="subMenuList.exec()" class="sub-menu-title">
																				<span>{{ subMenuList.title }}</span>
																				<span>{{ subMenuList.key }}</span>
																			</div>
																		</li>
																	</ng-template>
																</ng-template>
															</ul>
														</div>
													</li>
												</ng-template>
											</ng-template>
										</ul>
									</div>
								</li>
							</ng-template>
						</ng-template>
					</ul>
				</div>
			</ng-template>
		</div>
	</div>
</div>
