<div class="flex-space-between">
	<div class="menu-wrapper">
		<div class="menu">
			<span class="menu-title active">ファイル</span>
			<div class="menu-list main-menu-list active">
				<ul>
					<li>
						<div class="sub-menu-title"><span>バージョン履歴を表示</span></div>
					</li>
					<li class="separator-wrapper"><div class="separator"></div></li>
					<li class="sub-menu-list-wrapper">
						<div class="sub-menu-title">
							<span>インポート</span>
							<span><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon></span>
						</div>
						<div class="menu-list sub-menu-list">
							<ul>
								<li>
									<div class="sub-menu-title"><span>画像を挿入...</span></div>
								</li>
								<li>
									<div class="sub-menu-title"><span>画像をリンク...</span></div>
								</li>
								<li class="separator-wrapper"><div class="separator"></div></li>
								<li>
									<div class="sub-menu-title"><span>フォントを追加...</span></div>
								</li>
							</ul>
						</div>
					</li>
					<li class="separator-wrapper"><div class="separator"></div></li>
					<li class="sub-menu-list-wrapper">
						<div class="sub-menu-title active">
							<span>エクスポート</span>
							<span><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon></span>
						</div>
						<div class="menu-list sub-menu-list active">
							<ul>
								<li>
									<div class="sub-menu-title">
										<span>高度なエクスポート...</span>
										<span>Shift+Ctrl+E</span>
									</div>
								</li>
								<li class="separator-wrapper"><div class="separator"></div></li>
								<li>
									<div class="sub-menu-title"><span>PNG画像(.png)</span></div>
								</li>
								<li>
									<div class="sub-menu-title"><span>JPEG画像(.jpg)</span></div>
								</li>
								<li>
									<div class="sub-menu-title"><span>Scalable Vector Graphics(.svg)</span></div>
								</li>
								<li class="sub-menu-list-wrapper">
									<div class="sub-menu-title active">
										<span>PDFドキュメント(.pdf)</span>
										<span><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon></span>
									</div>
									<div class="menu-list sub-menu-list active">
										<ul>
											<li>
												<div class="sub-menu-title"><span>72 dpi</span></div>
											</li>
											<li>
												<div class="sub-menu-title"><span>96 dpi</span></div>
											</li>
											<li>
												<div class="sub-menu-title"><span>150 dpi</span></div>
											</li>
											<li>
												<div class="sub-menu-title"><span>300 dpi</span></div>
											</li>
											<li>
												<div class="sub-menu-title"><span>詳細オプション...</span></div>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="sub-menu-title">
							<span>印刷...</span>
							<span>Ctrl+P</span>
						</div>
					</li>
					<li class="separator-wrapper"><div class="separator"></div></li>
					<li>
						<div class="sub-menu-title"><span>ホームに戻る</span></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<span class="menu-title">編集</span>
			<div class="menu-list main-menu-list">
				<ul>
					<li>
						<div class="sub-menu-title">
							<span>コピー</span>
							<span>Ctrl+C</span>
						</div>
					</li>
					<li class="sub-menu-list-wrapper">
						<div class="sub-menu-title">
							<span>貼り付け</span>
							<span><fa-icon [icon]="faCaretRight" [fixedWidth]="true" size="sm"></fa-icon></span>
						</div>
						<div class="menu-list sub-menu-list">
							<ul>
								<li>
									<div class="sub-menu-title">
										<span>貼り付け</span>
										<span>Ctrl+V</span>
									</div>
								</li>
								<li>
									<div class="sub-menu-title">
										<span>同じ位置に貼り付け</span>
										<span>Shift+Ctrl+V</span>
									</div>
								</li>
								<li>
									<div class="sub-menu-title">
										<span>選択範囲内に貼り付け</span>
										<span>Alt+Shift+Ctrl+V</span>
									</div>
								</li>
								<li>
									<div class="sub-menu-title">
										<span>貼り付けスタイル</span>
										<span>F4</span>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="sub-menu-title">
							<span>削除</span>
							<span>Del</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
