/*———————————————————————————————————————————————————————
Color variables
—————————————————————————————————————————————————————————*/

$red: #e56470;
$white: #bcbcbe;
$mid-white: #77787c;
$canvas-color: #32303f;
$canvas-color-dark: #2e2d3b;

/*———————————————————————————————————————————————————————
Number variables
—————————————————————————————————————————————————————————*/

$transition: 0.1s ease-in-out;

/*———————————————————————————————————————————————————————
Mixin
—————————————————————————————————————————————————————————*/

@mixin drop-shadow {
  // -webkit-filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.3));
  // filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.3));
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

@mixin disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
