@import '../variables';

.app-wrapper {
	position: relative;
	width: 100%;
	height: calc(100vh - 55px);
	padding-top: $ruler-thickness;
	padding-left: $ruler-thickness;
	overflow: hidden;

	&.initial-cursor {
		cursor: initial;
	}

	&.grab-cursor {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	&.zoom-in-cursor {
		cursor: zoom-in;
	}

	&.zoom-out-cursor {
		cursor: zoom-out;
	}
}

.canvas-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border: solid 1px $mid-white;
	border-right: none;
	border-bottom: none;

	pointer-events: none;

	.canvas-render {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.ruler-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	canvas {
		position: absolute;

		&.ruler-line {
			z-index: 2;
			// background-color: red;
		}

		&.ruler-column {
			z-index: 1;
			// background-color: black;
			// display: none;
		}
	}
}
