@import "../variables";

.menu-wrapper-prefix {
  display: flex;
  width: 100vw;
  padding: 5px;
  border-top: solid 1px $mid-white;

  cursor: pointer;
  user-select: none;
}

.icon-prefix {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  color: rgba($white, 0.6);
  font-size: 1rem;

  &:hover {
    border-radius: 2px;
    background-color: rgba($white, 0.2);
  }
}

