<div class="tool-menu-wrapper">
  <div class="icon-prefix name-info-wrapper">
    <fa-icon [icon]="faSave" [fixedWidth]="true" size="sm"></fa-icon>
    <div class="name-info-row">保存</div>
  </div>
  <div class="icon-prefix name-info-wrapper">
    <fa-icon [icon]="faUndo" [fixedWidth]="true" size="sm"></fa-icon>
    <div class="name-info-row">元に戻す</div>
  </div>
  <div class="icon-prefix name-info-wrapper">
    <fa-icon [icon]="faRedo" [fixedWidth]="true" size="sm"></fa-icon>
    <div class="name-info-row">やり直す</div>
  </div>
  <div class="icon-prefix name-info-wrapper">
    <fa-icon [icon]="faQuidditch" [fixedWidth]="true" size="sm"></fa-icon>
    <div class="name-info-row">白紙に戻す</div>
  </div>

  <div class="separator-wrapper">
    <div class="separator"></div>
  </div>

  <div class="color-picker tool-menu-prefix name-info-wrapper">
    <div class="name-info-row">カラーピッカー</div>
  </div>
  <div class="name-info-wrapper">
    <div class="brush-size-wrapper tool-menu-prefix">
      <div class="brush-size-meter"></div>
      <div class="brush-size-info">70px</div>
    </div>
    <div class="name-info-row">ブラシのサイズ</div>
  </div>
 </div>

