<div class="tool-menu-wrapper">
  <div class="icon-prefix">
    <fa-icon [icon]="faSave" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faUndo" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faRedo" [fixedWidth]="true" size="sm"></fa-icon>
  </div>
  <div class="icon-prefix">
    <fa-icon [icon]="faQuidditch" [fixedWidth]="true" size="sm"></fa-icon>
  </div>

  <div class="separator-wrapper">
    <div class="separator"></div>
  </div>

  <div class="brush-size-wrapper">
    <div class="brush-size-meter"></div>
    <div class="brush-size-info">70px</div>
  </div>
</div>

