@import "./reset";
@import "./app/variables";
// For pickr
@import "@simonwep/pickr/dist/themes/monolith.min.css";

html {
	background-color: #32303f;
}

.custom-pickr {
	background-color: #32303f;
	border: solid 1px $mid-white;
}
